.photo-grid {
  margin: 0;
  max-width: 880px;
  width: 100%;
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 282px));
  grid-template-rows: repeat(auto-fit, 362px);
  gap: 20px 17px;
  justify-content: center;
  justify-items: center;
}

@media screen and (max-width: 580px) {
  .photo-grid {
    padding-top: 36px;
  }
}