.profile {
  margin: 0;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 880px;
  padding-top: 40px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  flex-wrap: wrap;
}

@media screen and (max-width: 580px) {
  .profile {
    flex-direction: column;
    max-width: 282px;
    padding-top: 42px;
  }
}