.photo-post__like-button {
  -moz-appearance: none;
  -moz-box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  background-image: url('../../../images/heart-icon-disabled.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px 19px;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: inherit;
  min-height: 19px;
  min-width: 22px;
  object-fit: cover;
  padding: 0 2px;
  text-align: center;
  transition: opacity .3s ease;
  user-select: none;
}

.photo-post__like-button:hover{
  opacity: .5;
  cursor: pointer;
}

.photo-post__like-button:focus{
  outline: none;
}

.photo-post__like-button:active{
  outline: none;
  background-image: url('../../../images/heart-icon-active.svg');
  opacity: 1;
}
