.profile__name {
  grid-area: name;
  margin: 0;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 293px;
}

@media screen and (max-width: 580px) {
  .profile__name {
    font-size: 27px;
    line-height: initial;
    max-width: 189px;
  }
}