.photo-post {
  margin: 0;
  max-width: 282px;
  width: 100%;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 282px 79px;
  grid-template-columns: minmax(0, 21px) fit-content(188px) auto min-content minmax(0, 20px);
  grid-template-areas: 
  "image image image image image"
  ". title . like-button .";
  background-color: #fff;
  overflow: hidden;
  align-items: center;
}