.popup__close-icon {
  position: absolute;
  top: -40px;
  right: -40px;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  background-image: url('../../../images/close-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  transition: opacity .5s ease;
  object-fit: cover;
}

.popup__close-icon:hover {
  opacity: .7;
}

@media screen and (max-width: 530px) {
  .popup__close-icon {
    right: 0;
    width: 20px;
    height: 20px;
    top: -36px;
  }
}