.popup__container {
  box-shadow: 0 0 25px rgba(0, 0, 0, .15);
  display: flex;
  flex-direction: column;
  max-width: 430px;
  position: relative;
  width: calc(100% - 96px);
}

@media screen and (max-width: 320px) {
  .popup__container {
    width: calc(100% - 38px);
  }
}

.popup__container.popup__container_post {
  border-radius: 0;
  max-width: 75vw;
  max-height: 75vh;
  width: min-content;
  box-sizing: border-box;
}