.profile__info {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  flex-grow: 1;
  display: grid;
  grid-template-columns: minmax(min-content, max-content) minmax(24px, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-areas:
  "name edit-button"
  "vocation .";
  padding-left: 30px;
  gap: 7px 19px;
  align-items: baseline;
}

@media screen and (max-width: 581px) {
  .profile__info {
    grid-template-columns: minmax(min-content, 189px) minmax(18px, 1fr);
    padding-left: 0;
    justify-items: center;
    column-gap: 10px;
    padding-top: 26px;
  }
}