.photo-post {
  margin: 0;
  max-width: 282px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  overflow: hidden;
  align-items: center;
  position: relative;
}